version: "3.9"

services:
  db:
    image: postgres:18
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: volleybot
    ports:
      - "5432:5432"
    volumes:
      - volley-local-db-data:/var/lib/postgresql

volumes:
  volley-local-db-data:
